<form action="/payment/results">

  <label for="apr">APR</label>
  <input id="apr" type="text" placeholder="E.g. 4.52" name="user_apr" required>

  <label for="years">Number of years</label>
  <input id="years" type="text" placeholder="For how many years?" name="user_years" required>

  <label for="pv">Principal</label>
  <input id="pv" type="text" placeholder="How much principal?" name="user_pv" required>

  <button>Calculate monthly payment</button>

</form>
