<form action="/random/results">

<label for="min_num">Minimum</label>
<input id="min_num" type="text" placeholder="E.g 1.5" name="user_min" required>

<label for="max_num">Maximum</label>
<input id="max_num" type="text" placeholder="E.g 4.5" name="user_max" required>

<button>Pick random number</button>

</form>
