
<form action="/square/results">

  <label for="giraffe">Enter a number</label>
  <input id="giraffe" type="text" placeholder = "What is your number?" name="elephant" required>

  <button>Calculate square</button>

</form>
