<h1>howdy!</h1>

<form>

<lable for="giraffe">Enter a number</lable>
<input id="giraffe" type="text" placeholder = "What is your number?" name="elephant" >

<button>Calculate square</button>

</form>
